body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  margin: 140px 12px;
}

h2 {
  height: 26px;
}

button.starting-game {
  background-color: aquamarine;
}
